<header>
    <a href="/"><img class="logo" src="/images/logo.png" alt="logo" title="logo" /></a>
    <h1>--日志管理系统<span style="font-size: 0.7em;">[v2014.2.13]</span></h1>
    <% var info = request.flash('info'); if (info.length>0) { %>
        <div class="tip info"><%- info %></div>
    <% } %>
    <% var error = request.flash('error'); if (error.length>0) { %>
        <div class="tip error"><%- error %></div>
    <% }; %>

    <div class="right">
        <div class="">
            <div class="triangle-down"></div>
            <%= signedIn().department||"" %> -
            <%= signedIn().position||"" %> -
            <%- linkTo(signedIn().username, pathTo.edit_user(signedIn()))%>&nbsp;&nbsp;&nbsp;&nbsp;
            <%- linkTo('<img class="logout-img "src="/images/logout.png" />退出', pathTo.signout, {method: "delete"}) %>
        </div>
    </div>
</header>